{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <form name="perso" action="{{ path('search') }}" method="post">
                <label for="royaume">Selectionnez un royaume</label>
                <select id="royaume" name="royaume">
                    <option value="royaume_1">royaume_1</option>
                    <option value="royaume_2">royaume_2</option>
                    <option value="royaume_3">royaume_3</option>
                    <option value="royaume_4">royaume_4</option>
                </select>
                <input type="submit">
            </form>
        </div>
        <div id="persosResult" class="col-md-6 col-xs-12">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready( function () {
            $('form[name="perso"]').submit( function (e) {
                e.preventDefault();
                
                var data = new FormData(this);
                $.ajax({
                    method: 'post',
                    url: '{{ path('search') }}',
                    processData: false,
                    contentType: false,
                    data: data,
                    
                    success: function (response) {
                        if(response == 'prout') {
                            alert('Pas de persos dans ce Royaume.')
                        }
                        else {
                            $('#persosResult').html(response).hide().fadeIn(500, function () {
                               $(this).find('h1').css('color', 'red');
                            });
                        }

                        console.log(response);
                    },
                });
            });
        });
    </script>
{% endblock %}